*.o
*.obj
*.pdb
*.sdf
*.suo
*.rgba
*.log
*.opensdf
*.opendb
*.a
*.rgb
*.yuv
*.user
*.zip
*.pcm
*.png
*.VC.db
*.m3u8
*.ts
*.stackdump
*.pyc

videos/

gitversion.cpp
ipch
Debug
Release
x64
build/
ip2vf/IP2VideoFrame/ip2vf
ip2vf/videoplayer/videoplayer
rawvideoinjector
ip2vf_processing
ip2vf_upscale
ip2vf_convert10bitsto8bits
ip2vf_decimator
ip2vf_analyser
ip2vf_background
ip2vf_convertYUVtoRGBA
ip2vf_foreground
ip2vf_audioPassthrough
ip2vf_muxer
ip2vf_demuxer
ip2vf_compositor
ip2vf_external
ip2vf_resample
ip2vf_selector
ip2vf_compositor_bench

/.project
/ip2vf/IP2VideoFrame/.vs/
/ip2vf/IP2VideoFrame/nbproject/private/
/ip2vf/ProcessingNodes/nbproject/private/
/ip2vf/SystemTest/build/
/ip2vf/SystemTest/dist/
/ip2vf/RawVideoInjector/nbproject/private/

/ip2vf/videoplayer/nbproject/private/
/ip2vf/WinSdkSample/libip2vf/libIp2vf.lib
/ip2vf/WinSdkSample/libip2vf/ip2vf.h
/ip2vf/WinSdkSample/libip2vf/libIp2vf.dll
/ip2vf/WinSdkSample/x64

/ip2vf/WinSdkSample/libip2vf/libIp2vfd.dll
/ip2vf/WinSdkSample/libip2vf/libIp2vfd.lib
/ip2vf/WinSdkSample/distribution

/ip2vf/docs/~*
gitversion.cpp
ipch
Debug
Release
x64
ip2vf/IP2VideoFrame/ip2vf
ip2vf/videoplayer/videoplayer
rawvideoinjector
ip2vf_processing
ip2vf_upscale
ip2vf_convert10bitsto8bits
ip2vf_decimator
ip2vf_analyser
ip2vf_background
ip2vf_convertYUVtoRGBA
ip2vf_foreground
ip2vf_audioPassthrough
ip2vf_muxer
ip2vf_demuxer
vMI_adapter
vMI_demuxer
vMI_converter

/.project
/ip2vf/IP2VideoFrame/nbproject/private/
/ip2vf/ProcessingNodes/nbproject/private/
/ip2vf/SystemTest/build/
/ip2vf/SystemTest/dist/
/ip2vf/RawVideoInjector/nbproject/private/

/ip2vf/videoplayer/nbproject/private/
/ip2vf/WinSdkSample/libip2vf/libIp2vf.lib
/ip2vf/WinSdkSample/libip2vf/ip2vf.h
/ip2vf/WinSdkSample/libip2vf/libIp2vf.dll
/ip2vf/WinSdkSample/x64

/ip2vf/WinSdkSample/libip2vf/libIp2vfd.dll
/ip2vf/WinSdkSample/libip2vf/libIp2vfd.lib
/ip2vf/libvMI/sample/libvMI.h
/ip2vf/libvMI/sample/sample
/ip2vf/Documentation/examples/
/ip2vf/Documentation/external_api/
/ip2vf/Documentation/libvmi/html/
/ip2vf/Documentation/libvmi/xml/

IBC_demo_scripts/UCS-2KA/pipeline_2K_10022/.DS_Store

IBC_demo_scripts/UCS-2KB/.DS_Store

IBC_demo_scripts/UCS-4K/4k.tgz

*.tgz

*.tgz

IBC_demo_scripts/UCS-4K/4k.tgz

IBC_demo_scripts/UCS-4K/4k.tgz

ip2vf/.DS_Store

ip2vf/Documentation/.DS_Store

ip2vf/Documentation/libvmi/.DS_Store

**.cproject
**.project
.settings
/ip2vf/TestHarness/target/
/ip2vf/TestHarness/nbactions.xml
/TestHarness/target/
/TestHarness/target/